<section class="row">
	<div class="col">
		<h2>The Bridal Party</h2>
		<hr>

		<h3>Natalie Theron, <em>The Bride</em></h3>
		<ul>
			<li>
				<p>Ilze Pieters, <em>Matron of Honour</em></p>
			</li>
			<li>
				<p>Clarissa Snyman</p>
			</li>
			<li>
				<p>Landi Engelbrecht</p>
			</li>
			<li>
				<p>Mardi Strydom</p>
			</li>
		</ul>
		<h3>Ludwig Wendzich, <em>The Groom</em></h3>
		<ul>
			<li>
				<p>Herman Pieters, <em>Best Man</em></p>
			</li>
			<li>
				<p>Heino Wendzich, <em>Brother of the Groom</em></p>
			</li>
			<li>
				<p>Jacques Theron, <em>Brother of the Bride</em></p>
			</li>
		</ul>
		<h2>Parents</h2>
		<hr>
		<ul>
			<li><p>Susan Theron, <em>Mother of the Bride</em></p></li>
			<li><p>Eduard Theron, <em>Father of the Bride</em></p></li>
			<li><p>Angelique Wendzich, <em>Mother of the Groom</em></p></li>
			<li><p>Franz Wendzich, <em>Father of the Groom</em></p></li>
		</ul>
	</div>
	<div class="col">
		<h2>On the Day</h2>
		<hr>
		<h3>The Ceremony, <em>3:30pm</em></h3>
		<ul>
			<li><p>Denise Pieters, <em>Celebrant</em></p></li>
			<li><p>Ané Dicks, <em>Singing</em></p></li>
		</ul>

		<hr>
		<h3>Dinner & Dancing</h3>
		<ul>
			<li><p>Ané Dicks, <em>Master of Ceremonies</em></p></li>
			<li><p>Inus Rademeyer, <em>Master of Ceremonies</em></p></li>
		</ul>
		<hr>
		<p>We’ll make sure you have enough to eat and drink. Dinner will be family-style, and there’ll be wine, beer and non-alcoholic drinks available, on us.</p>

		<h2>Gifts</h2>
		<hr>

		<p>We’re not big on receiving gifts. So, we have no registry. If you’d like to <a href="https://givealittle.co.nz/cause/ludnat">contribute to our honeymoon</a> though, Ludwig will not mind one bit!</p>
	
	</div>
</section>
