<form id="regret-form" method="POST" action="/rsvp">
	<input type="hidden" name="answer" value="no" />
	<input type="hidden" name="token" value="{{result.id}}" />
	<button type="submit" class="button button-no">{{> @partial-block }}</button>
</form>
